@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

:root {
  --primary: #e6e7ee;
  --secondary: #dedfe8;
  --shadow: 0.3vmax 0.3vmax 0.6vmax var(--accent2), -0.3vmax -0.3vmax 0.6vmax var(--accent1);
  --text-primary: #31344b;
  --border: #d1d9e6;
  --accent1: #fff;
  --accent2: #b8b9be;
  --accent3: #111;
  --left-btn-color: #fb8282;
  --right-btn-color: #99fb99;
  --nav-primary: #f4f4f4;
  --nav-secondary: #e4e4e4;
  --icon-color: #93aeb7;
  --nav-text: #626262;
  --nav-active: #0ca0e8;
  --nav-hover: #06c624;
  --transition-val: all 600ms ease;
}

[data-theme='dark'] {
  --primary: #1A1A1A;
  --secondary: #151515;
  --shadow: 0.3vmax 0.3vmax 0.6vmax var(--accent2), -0.3vmax -0.3vmax 0.6vmax var(--accent1);
  --text-primary: #e1e2e8;
  --border: #353535;
  --accent1: #3A3A3A99;
  --accent2: #000000b0;
  --accent3: rgb(235, 235, 235);
  --left-btn-color: #e64925;
  --right-btn-color: #0eb00e;
  --nav-primary: #23232e;
  --nav-secondary: #141418;
  --icon-color: #35535c;
  --nav-text: #c6c6c6;
  --nav-active: #0cd3e8;
  --nav-hover: #0ce8a0;
}

*::-webkit-scrollbar {
  width: 1.2rem;
  background-color: var(--primary);
}


*::-webkit-scrollbar-thumb {
  background-color: var(--accent3);
  border: 0.2rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 1rem;
}

.txtArea::-webkit-scrollbar {
  background-color: transparent;
  width: 1rem
}

.txtArea::-webkit-scrollbar-thumb {
  border: 0.4rem solid rgba(0, 0, 0, 0);
}

* {
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  font-family: 'Cabin', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.body-light {
  background-color: #e6e7ee;
}

.body-dark {
  background-color: #1A1A1A;
}

footer {
  margin-left: 5rem;
  padding: 4rem;
  background-color: var(--secondary);
  margin-top: 2rem;
  transition: var(--transition-val);
}

#hgIcon {
  width: 3rem;
}

footer #hgIcon {
  width: 8rem;
}

.mapBox {
  background-color: #a0d4e1;
}


.popUp {
  position: fixed;
  right: 1rem;
  top: 1rem;
  padding: 0.6rem;
  border-radius: 0.8rem;
  box-shadow: 5px 10px 14px 0px #28282830;
  color: black;
  display: inline-flex;
  z-index: 2;
  transform-origin: 90% 50%;
}

.popup-success {
  background-color: #d2f5b1;
  border: 2px solid #3eb105;
}

.popup-error {
  background-color: #fdcbcb;
  border: 2px solid red;
}

.popUp-btn {
  position: absolute;
  right: 0.8rem;
  top: 0.1rem;
  cursor: pointer;
}

.popUp-btn div {
  height: 1.2rem;
  width: 1.2rem;
  background-color: white;
  position: absolute;
  top: 0.5rem;
  right: -0.25rem;
  z-index: -1;
  border-radius: 100%;
  transition: var(--transition-val);
}

.popUp-btn span {
  font-size: 1.6rem;
}

.popUp-btn:hover div {
  background-color: rgb(0, 0, 0);
}

.popUp-btn:hover span {
  color: white;
}


.bg {
  height: 100vh;
  position: absolute;
  background-color: var(--primary);
  width: 100%;
  z-index: -1;
  transition: var(--transition-val);
}

.App {
  text-align: center;
  height: fit-content;
  background-color: var(--primary);
  transition: var(--transition-val);
}

.navbar {
  position: fixed;
  background-color: var(--nav-primary);
  padding: 0.5rem;
  z-index: 2;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}


.nav-icon {
  fill: var(--icon-color);
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--nav-text);
  text-decoration: none;
  transition: 600ms;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.2rem;
}

.link-text {
  display: none;
  margin-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Cabin', cursive;
  font-weight: 800;
  font-size: 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-primary);
  background: var(--secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  transition: var(--transition-val);
}

.logo svg {
  transform: rotate(0deg);
  transition: 600ms;
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: 600ms;
}


.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: inline;
}

.nav-item:hover .nav-icon {
  fill: var(--nav-hover);
  transition: 600ms ease;
}


.nav-icon-active {
  fill: var(--nav-active);
}

.nav-item:hover {
  background-color: var(--nav-secondary);
  border-radius: 0.4rem;
  transition: 600ms ease;

}

.AppDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  flex-direction: column;
  margin-left: 5rem;
  padding: 1rem;
}

@keyframes displayText {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.App-h1 {
  font-size: 1.5rem;
  color: var(--text-primary);
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.7vmax;
  border: 0.1vmax solid var(--border);
  border-radius: 5vmax;
  box-shadow: var(--shadow);
  background-color: var(--primary);
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 2vmax;
  transition: var(--transition-val);
}



.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.action-button {
  position: relative;
  padding: 0.2rem 0.6rem;
  margin-top: 1rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 2rem;
  font-family: 'Cabin', cursive;
  color: #FFF;
  text-decoration: none;
}

.green {
  margin-left: 1.5rem;
  background-color: #82BF56;
  border-bottom: 0.4rem solid #669644;
  text-shadow: 0px -0.1rem #669644;
}

.red {
  background-color: #E74C3C;
  border-bottom: 0.4rem solid #BD3E31;
  text-shadow: 0px -0.1rem #BD3E31;
}

.action-button:active {
  transform: translate(0px, 0.1rem);
  -webkit-transform: translate(0px, 0.1rem);
  border-bottom: 0.1rem solid;
}



.selectStyle {
  font-size: 1rem;
  color: var(--text-primary);
  font-weight: 300;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.5rem 0 0.5rem;
  border: 0.1rem solid var(--border);
  border-radius: 1rem 1rem 0 0;
  box-shadow: var(--shadow);
  background-color: var(--primary);
  height: 2rem;
  max-width: 90%;
  transition: var(--transition-val);
}

.mkBold {
  font-family: 'Cabin', cursive;
  font-weight: 800;
}

.selectStyle-entering {
  animation: selectAnim 1s ease-in;
}

.selectStyle-exiting {
  animation: selectAnim 1s ease-out reverse backwards;
}

.searchDiv {
  position: relative;
  z-index: 1;
  margin-top: 2.5vmax;
}

.searchDiv-button {
  font-size: 0.7rem;
  color: var(--text-primary);
  font-weight: 400;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem;
  border: 0.1vmax solid var(--border);
  box-shadow: var(--shadow);
  background-color: var(--primary);
  transition: var(--transition-val);
}

.searchDiv-button:active {
  transform: translate(-0.1rem, 0.1rem);
  box-shadow: 0.2vmax 0.2vmax 0.4vmax var(--accent2), -0.2vmax -0.2vmax 0.4vmax var(--accent1);
}

.searchDiv-button:disabled {
  opacity: 0.6;
  transform: translate(-0.1rem, 0.1rem);
  box-shadow: 0.2vmax 0.2vmax 0.4vmax var(--accent2), -0.2vmax -0.2vmax 0.4vmax var(--accent1);
}